
.messages_iframe {
  height:100px;
  width:100%;
  border:0px
}

.footer_iframe {
  height:300px;
  width:100%;
  border:0px
}

.subdomains_iframe {
  height:375px;
  width:100%;
  border:0px
}

.services_iframe {
  height:230px;
  width:100%;
  border:0px
}

#subdomains img {
  width: 75px;
}