<section class="my-5" id="tagline">

  <p>
    Welcome to the Galaxy {{ site_name }} {{ lab_name }} by the community!
  </p>

  <p>
    <a
      href="#"
      data-bs-toggle="modal"
      data-bs-target="#infoModal">
      How does this page relate to Galaxy {{ site_name }}?
    </a>
  </p>

  <div class="Hero hero-page">
    <img class="Hero-img" src="https://www.pepr-bioproductions.fr/var/hub_internet_pepr_bioproductions/storage/images/_aliases/inra_common_hero_banner/6/0/5/1/1506-2-fre-FR/aea62c51fadc-programme-bandeau-web.jpg" alt="" title="">
  </div>

  <div class="content-layout__body">
    <p class="content-layout__intro">
      The &quot;Bioproductions (B-BEST): Biomass, Biotechnologies, and Sustainable Technologies for Chemistry and Fuels&quot; research program is part of the national acceleration strategy &quot;Bio-based Products and Industrial Biotechnologies - Sustainable Fuels&quot; under the France 2030 plan. Co-led by INRAE and IFPEN, this program started in 2023 and will run for 7 years. It has a budget of 65 million euros.
    </p>
    <p>
      Human societies face enormous challenges, the most urgent being the sustainability of human activities through their impact on the environment, particularly global warming caused by fossil fuel greenhouse gas emissions. Europe is at the forefront of initiatives aimed at addressing environmental challenges. In December 2020, the EU committed to increasing its climate ambition in line with the Paris Agreement (COP 21). A binding target was approved for a net domestic reduction of at least 55% in greenhouse gas emissions by 2030 compared to 1990: this initiative is called <a href="https://www.consilium.europa.eu/en/policies/green-deal/fit-for-55-the-eu-plan-for-a-green-transition/" target="_blank" title=""><strong>Fit For 55</strong></a> and is part of the European Green Deal strategy to achieve climate neutrality by 2050.
    </p>
    <p>
      Fully involved in European initiatives, France enacts specific laws and strategies, including the Multiannual Energy Program (PPE) and the National Low-Carbon Strategy (SNBC), which are part of the ecological transition and the gradual decarbonization of all sectors of activity.
    </p>
    <p>
      The <strong> transition from a petrochemical economy to bio-based products and services</strong> is considered a major focus of this global transition and must overcome many challenges to transfer scientific research results in this field to the socio-economic world. Examples of these challenges include:
    </p>
    <ul>
      <li>The use of land for food versus biomolecules, bio-based materials, and energy;</li>
      <li>Intensifying biomass production versus preserving ecosystems and resource availability;</li>
      <li>Exporting biomass to meet global demand versus the need for local soil carbon storage;</li><li>Energy and water-intensive recycling schemes (particularly in urban areas) versus unused waste streams;</li>
      <li>The uncertainties related to periodically available biomass versus quantified fossil fuel quantities, which are also questioned by climate change and fossil fuel reserves;</li>
      <li>Responding to existing market and consumer demands versus new and yet unknown bio-based markets.</li>
    </ul>
    <p>
      In this context, the Bioproductions program aims to support fundamental research, but also characterized by a low level of technological maturity, with the objective of developing innovations that promote the development of an effective, relevant, and competitive French industrial base in the fields of bio-based products and sustainable fuels.
    </p>
  </div>

  {{ intro_extra_md }}

  <div class="modal fade" id="infoModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Galaxy {{ site_name }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            This site <em>{{ subdomain }}.{{ root_domain }}</em> is connected to the same server as <em>{{ root_domain }}</em>, but with an interface dedicated to helping our {{ analysis_name }} researchers. Your history, jobs and data quota are shared with the "Base" Galaxy {{ site_name }}  website.
          </p>
          <p><a class="ga-btn" href="https://{{ root_domain }}" target="_blank">Take me back to Galaxy {{ site_name }}</a></p>
          <p><a class="ga-btn" href="https://{{ root_domain }}/about">What is Galaxy {{ site_name }}?</a></p>
          <p><a class="ga-btn" href="{{support}}">Galaxy {{ site_name }} support</a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</section>
